{% extends "base.html" %}
{% block content %}
<h1>新建 BOM 版本</h1>
<form hx-post="/bom-version/import-preview" hx-target="#preview"
      hx-encoding="multipart/form-data">
  <label>单板名称 <input name="board_name" list="names" required></label>
  <datalist id="names">
    {% for v in versions %}<option value="{{ v.board_name }}">{% endfor %}
  </datalist>
  <label>PCB版本 <input name="pcb_version" required></label>
  <label>BOM版本 <input name="bom_version" required></label>
  <label>CSV <input type="file" name="file" accept=".csv" required></label>
  <button>预览校验</button>
</form>
<div id="preview"></div>
{% endblock %}
